In [1]:
import pandas as pd


file_name = 'test_set_002.csv'

data = pd.read_csv(file_name, delimiter=',')

print(data.shape)
data.head(5)

(26861, 3)

                                 defs          word  len
0                     колпак на лампе        абажур   15
1  настоятель католического монастыря         аббат   34
2              католический священник         аббат   22
3              католический монастырь     аббатство   22
4                слово из первых букв  аббревиатура   20

In [2]:
from string import punctuation
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import spacy
from sklearn.feature_extraction.text import TfidfVectorizer


nlp = spacy.load('ru2')
nlp.add_pipe(nlp.create_pipe('sentencizer'), first=True)
stops = stopwords.words("russian")
doc_list = []


for text in data['defs']:
    text = ''.join(x for x in text if x not in punctuation)
    words = word_tokenize(text, language="russian")
    words = [word for word in words if word not in stops]
    text = ' '.join(words)
    doc = nlp(text)
    text = ' '.join(word.lemma_ for word in doc)
    doc_list.append(text)

vectorizer = TfidfVectorizer()
vectorizer.fit(doc_list)

vocab = vectorizer.vocabulary_
arr_of_idf = vectorizer.idf_

In [3]:
entries = ['word', 'idf']

arr = []
for word in vocab:
    arr.append([word, arr_of_idf[vocab[word]]])

idf_data = pd.DataFrame(data = arr, columns = entries)
idf_data = idf_data.sort_values('idf', ascending=False)
idf_data.head(20)

                       word        idf
12894             клеймение  10.505321
17053               динамит  10.505321
17051             азотистый  10.505321
17050  электроотрицательный  10.505321
17049               азотный  10.505321
17048            скрученной  10.505321
17047                 тонко  10.505321
17046        ниспровергнуть  10.505321
17045            личиночный  10.505321
17043           скульптурах  10.505321
17042            мессенджер  10.505321
17041             псевдоним  10.505321
17040                 устью  10.505321
17039          бесчестность  10.505321
17038               рабский  10.505321
17036                 верху  10.505321
17034           возделанном  10.505321
17033           возделанное  10.505321
17032            ожидаемого  10.505321
17052          производстве  10.505321